<!DOCTYPE html>
<html lang="en">
<head>
<title>B.S.B.C. Microfinance Pvt. Ltd.</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Funding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/mainStyles.css" />
		<link rel='stylesheet' href='css/dscountdown.css' type='text/css' media='all' />

<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<!-- gallery -->
<link href="css/lsb.css" rel="stylesheet" type="text/css">
<!-- //gallery -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,900" rel="stylesheet">

</head>	
{{#if userId}}
<body>
<!-- banner -->
<div class="header_mid">
    <div class="w3layouts_header_mid">
        <ul>
            <li>
                <div class="header_contact_details_agile"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <div class="w3l_header_contact_details_agile">
                            <div class="header-contact-detail-title">Send us a Message</div> 
                        <a href="mailto:info@example.com">bsbc@example.com</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="header_contact_details_agile"><i class="fa fa-phone" aria-hidden="true"></i>
                    <div class="w3l_header_contact_details_agile">
                            <div class="header-contact-detail-title">Give us a Call</div> 
                        <a class="w3l_header_contact_details_agile-info_inner"> 999-999-0000 </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="header_contact_details_agile"><i class="fa fa-clock-o" aria-hidden="true"></i>
                    <div class="w3l_header_contact_details_agile">
                            <div class="header-contact-detail-title">Opening Hours</div> 
                        <a class="w3l_header_contact_details_agile-info_inner">Mon - Sat: 7:00 - 18:00</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="header_contact_details_agile"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    <div class="w3l_header_contact_details_agile">
                            <div class="header-contact-detail-title">3007 Sarah Drive</div> 
                            <a class="w3l_header_contact_details_agile-info_inner">Franklin, LA 70538 </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="banner">
    <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="/"><span>B.S.B.C. Pvt. Ltd.</span></a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="link-effect-2" id="link-effect-2">
                <ul class="nav navbar-nav">
                   <!-- <li class="active"><a href="index.html"><span data-hover="Home">Home</span></a></li> -->
					<li><a href="/products"><span data-hover="Products & Services">Products & Services</span></a></li>
					<!-- <li><a href="/locations"><span data-hover="Locations">Locations</span></a></li> -->
					
					{{#if userId}}
					<li><a href="/apply_now"><span data-hover="Apply Now">Apply Now</span></a></li>
					{{/if}}
					<li><a href="/about"><span data-hover="About Us">About Us</span></a></li>
					
					{{#if userId}}
					<li><a href="/user_dashboard"><span data-hover="User Dashboard">User Dashboard</span></a></li>
					{{else}}
					<li class="active"><a href="/login"><span data-hover="Login">Login</span></a></li>
					{{/if}}
					
					{{#if notuserId}}
					<li class="active"><a href="/signup"><span data-hover="Sign Up">Sign Up</span></a></li>
					{{/if}}
					<!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="Short Codes">Short Codes</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            <li><a href="icons.html">Web Icons</a></li>
                            <li><a href="typography.html">Typography</a></li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </div>
    </nav>
</div>

<!-- //banner -->	
<!-- <div class="w3l_header w3_agileits_header" style="border-top: 2px solid #47cf73; display: block; width: 50%; content: ''; margin: 8px auto 0;">
</div> -->
<!-- //banner -->	
<!-- mail -->
<div class="team">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">Apply <span>Now</span></h3>
        <p class="sub_para_agile">Apply for our products & services & we will shortly get back to you!</p>
        <div class="agile_team_grids_top">
            <div class="col-md-3 agileinfo_mail_grid_left">
            </div>
            <div class="col-md-6 agileinfo_mail_grid_left" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <form action="http://localhost:3000/applynow" method="POST" enctype="multipart/form-data" style="padding-top: 3em;">
                    <div class="custom-select">
                        <select name="service_id">
                            <option style="display: none;" >Choose a product/ service.</option>
                            <option value="1">Dream Home Loan</option>
                            <option value="2">Business Loan</option>
                            <option value="3">Micro Housing Loan</option>
                        </select>
                    </div>
                    
                    <span class="input input--nariko">
						<input class="input__field input__field--nariko" name="aadhar_no" type="text" id="input-20" placeholder=" " required/>
						<label class="input__label input__label--nariko" for="input-20">
							<span class="input__label-content input__label-content--nariko">Aadhar Card Number</span>
						</label>
					</span>
                    
                    <span class="input input--nariko">                   
                        <label for="myfile">Pan Card:</label>
                        <input type="file" id="pan_card" name="pan_card_file">
                    </span>
                    <span class="input input--nariko">                   
                        <label for="myfile">Address Proof:</label>
                        <input type="file" id="address_proof" name="address_proof_file">
                    </span>
                    
                    <input type="submit" value="Apply" style="margin-top: 3em; margin-bottom: 3em;">
                </form>
            </div>
            <div class="col-md-3 agileinfo_mail_grid_left">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //mail -->



<!-- footer -->
<div class="footer_agile_w3ls">
	<div class="container">
		<div class="agileits_w3layouts_footer_grids" style="border: 1px #fff;">
	        <div class="col-md-2 footer-agileits-w3layouts" style="text-align: left;">
				<h3><a href="/our_people">Our People</a></h3>
			</div>
			<div class="col-md-2 footer-agileits-w3layouts" style="text-align: right;">
				<h3><a href="/customers">Our Customers</a></h3>
			</div>
			<div class="col-md-4 footer-agileits-w3layouts" style="text-align: center;">
				<h3><a href="/gallery">Gallery</a></h3>
			</div>

			<div class="col-md-2 footer-agileits-w3layouts" style="text-align: left;">
				<h3><a href="/about">About Us</a></h3>
			</div>
			<div class="col-md-2 footer-agileits-w3layouts" style="text-align: right;">
				<h3><a href="/get_in_touch">Get in touch</a></h3>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="agileits_w3layouts_logo logo2">
			<h2><a href="/index">B.S.B.C. Microfinance Institution</a></h2>
			<div class="agileits-social">
				<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
					</ul>
			</div>
		</div>
	</div>
</div>
<!-- //footer -->

<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
{{else}}
    <a href='/'>Go to homepage</a>
{{/if}}
</html>