<!DOCTYPE html>
<html lang="en">
<head>
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<link href="css/font-awesome.css" rel="stylesheet"> 
</head>	
<body>
	<div class="login-page">
		<div class="form">
		  <form class="login-form" action="http://localhost:3000/customer/" method="POST">
			<img src="images/img_avatar.png" alt="Avatar" class="avatar">
			<input type="text" required placeholder="Name" name="name"/>
			<input type="email" required placeholder="Email ID" name="email"/>
			<input type="tel" required placeholder="Phone No" name="phone"/>
			<input type="text" required placeholder="Address" name="address"/>
			<input type="password" required placeholder="Password" name="password"/>
			<input type="password" required placeholder="Confirm Password" name="cPassword"/>
			<button type="submit" >Update</button>
		  </form>
		</div>
	  </div>
</body>
</html>